<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }}
        <a
          href="http://www.502sdhs.com"
          class="font-weight-bold ml-1"
          target="_blank"
          >Creado Por SDHS</a
        >
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="http://www.502sdhs.com" class="nav-link" target="_blank"
            >Quienes Somos</a
          >
        </li>
        <li class="nav-item">
          <a href="http://www.502sdhs.com" class="nav-link" target="_blank"
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Licencia</a>
        </li>
        <li class="nav-item">
          
        </li>
      </ul>
    </div>
  </div>
 
</footer>
