<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-xl-12">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label" for="input-descripcion"
                      >Filtro</label
                    >
                    <input
                      type="search"
                      id="input-descripcion"
                      [(ngModel)]="_descripcion"
                      class="form-control form-control-alternative"
                      placeholder="Ingrese texto a buscar"
                    />
                  </div>
                </div>
                <div class="col text-right">
                  <button class="btn btn-primary" (click)="buscar()">
                    <i class="bi bi-search"></i>Buscar
                  </button>
                </div>
              </div>
              <div class="row align-items-right">
                <div class="col text-right">
                  <a (click)="grabar()" class="btn btn-sm btn-primary"
                    >Agregar Nuevo</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-lg-auto col-md-12">
      <div class="row grid">
        <div
          class="col-xs-12 col-md-6 col-lg-4 mt-2"
          *ngFor="let element of _datos"
        >
          <div class="card shadow" style="width: 18rem">
            <img
              class="card-img-top"
              src="http://taquisieras.502sdhs.com/img/menu-burger-img.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ element.nombre }}</h5>
              <p class="card-text">{{ element.descripcion }}</p>
              <p class="card-text">{{ element.costo | currency: "Q" }}</p>
              <a class="btn btn-primary" (click)="modificar(element)"
                >Modificar</a
              >
              <a
                class="btn btn-danger"
                (click)="openDialog(modalEliminar, element)"
                >Eliminar</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card-columns">
        <div
          class="card shadow"
          style="width: 18rem"
          *ngFor="let element of _datos"
        >
          <img
            class="card-img-top"
            src="http://taquisieras.502sdhs.com/img/menu-burger-img.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ element.nombre }}</h5>
            <p class="card-text">{{ element.descripcion }}</p>
            <p class="card-text">{{ element.costo | currency: "Q" }}</p>
            <a class="btn btn-primary" (click)="modificar(element)"
              >Modificar</a
            >
            <a
              class="btn btn-danger"
              (click)="openDialog(modalEliminar, element)"
              >Eliminar</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-auto mb-5 mb-xl-0" *ngFor="let element of _datos">
      <div class="card shadow" style="width: 18rem">
        <img
          class="card-img-top"
          src="http://taquisieras.502sdhs.com/img/menu-burger-img.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ element.nombre }}</h5>
          <p class="card-text">{{ element.descripcion }}</p>
          <p class="card-text">{{ element.costo | currency: "Q" }}</p>
          <a class="btn btn-primary" (click)="modificar(element)">Modificar</a>
          <a class="btn btn-danger" (click)="openDialog(modalEliminar, element)"
            >Eliminar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
-->

<ng-template #modalEliminar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar Registro</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('cancelar')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      ¿Esta seguro que desea eliminar el registro?. Ya no podra recuperarlo.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="modal.dismiss('cancelar')"
    >
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="modal.close('aceptar')"
    >
      Aceptar
    </button>
  </div>
</ng-template>
