.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

/*
.card {
  flex: 1 1 21rem;
  flex-wrap: wrap;
  margin: 10px 20px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  align-self: normal;
}
*/
